@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --dark-pink: #bf3676;
    --lavender: #d3c4f2;
    --dark-blue-grey: #2f2359;
    --blueberry: #4c3991;
}


header {
    width: 100%;
    background-image: linear-gradient(to right, #2f2359, #4c3892);
    position: relative;
    padding-bottom: 106px;
}



/* ------------- NAV STYLES -------------*/
header nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}

.headerLogo {
    margin: 4.4% 0 0 7.7% ;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li a {
    margin-right: 40px;
}

header nav ul li:nth-of-type(1) a {
    border-bottom: #ffffff solid 2px;
    padding: 0 10px;
    margin-left: 30px;
}

header nav a {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
} 

header nav section {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: 0;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3.2%;
}

.navConnect {
    margin: 0 110px 0 0;
    background-color: var(--dark-pink);
    height: fit-content;
    padding: 15px 26px;
    border-radius: 50px;
}


/* ---------------- HEADER STYLE ----------------*/

.groupCreate {
    width: 48%;
    margin-top: 254px;
}

.groupCreate h1 {
    margin-left: 177px;
    font-size: 46px;
    font-weight: 800;
    text-align: left;
    color: #ffffff;
    line-height: 60px;
}

.groupCreate p {
    margin-top: 34px;
    margin-left: 177px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.56;
    color: #ffffff;
}

.groupButton {
    margin: 34px 0 106px 177px;
    background-color: var(--dark-pink);
    height: fit-content;
    padding: 15px 26px;
    border-radius: 50px;
    width: fit-content;
}

.groupButton a {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
}

.headerImg {
    position: absolute;
    right: 0;
    width: 55%;
    top: 24.4%;
}

.headerArrow {
    position: absolute;
    transform: translate(-50%, 0);  
    left: 50%;
    bottom: 3.9%;
}



/* ------------- FIRST MAIN PART -------------- */


.bet {
    background-image: url(../img/background.png);
    background-repeat: repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bet h2 {
    margin: 65px auto 40px auto;
    font-size: 41px;
    font-weight: 700;
    line-height: 0.52;
    text-align: center;
    color: var(--dark-pink);
}

.bet hr {
    width: 17.2%;
    margin-bottom: 60px;
    height: 2px;
    border: none;
    background-color: var(--dark-pink);
}

.bet-p-1{
    width: 57%;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;
    text-align: center;
    color: #222222;
    margin-bottom: 94px;
}

.ord {
    display: flex;
    justify-content: space-between;
}

.ordering {
    display: flex;
    width: calc(50% - 16px);
    flex-direction: column;
}

.ordering:nth-of-type(1) {
    align-items: flex-end;
}

.bet4 {
    width: 74%;
    display: flex;
    margin-bottom: 97px;
}

.bet4 h3 {
    font-size: 21px;
    font-weight: 600;
    text-align: left;
    color: #222222;
}

.bet4 h3::after {
    content: url(../img/Ellipse\ 2.png);
    margin-left: 16px;
} 

.bet4 p {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #222222;
}

.bet4 img {
    height: fit-content;
    margin: auto 31px auto 0;
}

.joinButton {
    background-color: var(--dark-pink);
    height: auto;
    padding: 15px 26px;
    border-radius: 50px;
    width: fit-content;
    margin-bottom: 105px;
}

.joinButton a {
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
}

.deg {
    position: absolute;
    transform: rotate(90deg);
    text-align: left;
    color: #929292;
    width: 389px;
    height: 34px;
    right: -102px;
    top: 565px;
    font-size: 7px;
    font-weight: 400;
    font-style: italic;
}


/* ---------------- SLIDER SECTION --------------*/

.sliderSec {
    background-color: #ffffff;
    padding: 61px 8.8%;
}

.sliderSec h2 {
    font-size: 41px;
    font-weight: bold;
    color: var(--dark-pink);
    margin-bottom: 29px;
}

.sliderSec hr {
    width: 19.5%;
    margin-bottom: 60px;
    height: 2px;
    border: none;
    background-color: var(--dark-pink);
}

.slider {
    width: 100%;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    padding: 20px 0;
}

.slider::-webkit-scrollbar {
    height: 4px;
    opacity: 0.7;
}

.slider::-webkit-scrollbar-thumb {
    background: #8888888f;
}





.sliderElmnt {
    width: 39%;
    margin: 0 23px;
    min-width: 460px;
    border-radius: 10px;
    box-shadow: 0.9px 10px 12px 1px rgba(98, 98, 98, 0.19);
    display: flex;
}

.sliderElmnt > img {
    margin: 44px 25px;
}

.sliderElmntOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sliderElmntTags span {
    border-radius: 50px;
    background-color: var(--lavender);
    padding: 3px 20px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.sliderElmntTitle h3 {
    font-size: 20.5px;
    font-weight: 600;
    color: #222222;
}

.sliderElmntTitle h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.53;
    text-align: left;
    color: #222222;
}

.sliderElmntGroups {
    display: flex;
    position: relative;
    width: 93%;
}

.sliderElmntGroups img {
    position: absolute;
    left: 0;
}

.sliderElmntGroups img:nth-of-type(2) {
    left: 17px;
}

.sliderElmntGroups h5 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.53;
    color: #747474;
    margin-top: 10px;
    margin-left: 71px;
}





/* ----------PART ABOUT CUSTOMIZATION --------------*/

.custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 185px;
    background-image: linear-gradient(to top, var(--dark-blue-grey), var(--blueberry));
}

.custom h2 {
    font-size: 41px;
    font-weight: bold;
    color: #ffffff;
}

.custom hr {
    width: 17.2%;
    margin-top: 29px;
    margin-bottom: 111px;
    height: 2px;
    border: none;
    background-color: #ffffff;
}

.customOrder {
    display: flex;
    position: relative;
}

.custom h3 {
    font-size: 21px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 32px;
}

.custom h3::after {
    content: "Nouveau !";
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: var(--dark-blue-grey);
    padding: 3px 21px;
    background: #ffffff;
    border: none;
    border-radius: 22px;
    margin-left: 56px;
}

.custom p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    text-align: left;
    color: #ffffff;
    width: 82%;
}

.custom p span {
    font-size: 12px;
    font-weight: 300;
}

.left {
    width: 59%;
}

.right {
    width: 49%;
}

#middle {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#middle ol li {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.83;
    color: var(--dark-blue-grey);
    background-color: #ffffff;
    padding: 16px;
    border-radius: 60px;
    margin: 11px;
    text-align: center;
}

.customOrder ol {
    list-style-type: none;
    counter-reset: li;
}

.right ol li {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #ffffff;
    margin: 16px 0;
    counter-increment: li;
}

.left, #middle, .right {
    z-index: 15;
}

#middle, .right {
    margin-top: 35px;
}
.custom img {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: -8px;
    transform: translate(-50%, 0);
}

.customButton {
    background-color: var(--dark-pink);
    height: fit-content;
    padding: 15px 26px;
    border-radius: 50px;
    width: fit-content;
    margin-top: 149px;
}

.customButton a {
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
}


/* -------------- CUSTOMER REVIEW SECTION---------------- */

.review {
    height: 720px;
    display: flex;
}

.review > div {
    width: 50%;
}

.reviewText {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 4.8% 7.2% 3.3% 8%;
}
.reviewText p {
    font-size: 24px;
    font-weight: 500;
    color: #222222;
}

.reviewText p:not(#comment)::first-letter {
    float: left;
    font-size: 75px;
    line-height: 70px;
    padding-right: 6px;
}

.reviewText span {
    position: relative;
}

.reviewText img {
    position: absolute;
    top: -36px;
    right: -12px;
}

#comment {
    font-weight: 400;
    font-size: 14px;
    color: #bbbbbb;
    font-style: italic;
    margin-top: 24px;
}


.reviewImg {
    background-image: url(../img/joueurs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ------------- FOOTER ------------- */


footer {
    width: 100vW;
    background-image: url(../img/background-footer.png);
    background-position: center;
    background-size: cover;
    padding: 67px 7.8% 24px 6.9%;
}

footer a {
    font-size: 18px;
    font-weight: 500;
    line-height: 2.67;
    text-align: left;
    color: #ffffff;
}

.footerOrder {
    display: flex;
    justify-content: space-between;
}

footer nav {
    margin-top: 36px;
    display: flex;
}

.footerOrder nav > div {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.footerOrder nav > div:first-of-type {
    margin-right: 59px;
}

.socials {
    display: flex;
    align-items: flex-end;
}

.socials img {
    margin: 0 3px;
}

footer hr {
    width: 85%;
    height: 3px;
    opacity: 0.35;
    background-color: #ffffff;
    border: none;
    margin: 36px auto 19px auto;
}

h5 {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

/* ------- ADDITIONAL STYLING ------- */

.navConnect:hover, .joinButton:hover, .groupButton:hover, .customButton:hover {
    background-color: #a73068;
    cursor: pointer;
}


/* ------------- RESPONSIVE ------------------ */


@media screen and (max-width:1262px) {

    .custom {
        padding: 74px 100px;
    }
}

@media screen and (max-width:1110px) {

    .headerImg {
        top: 30.4%;
    }

    .custom {
        padding: 74px 50px;
    }

    .navConnect {
        margin: 0 10px 0 0;
    }

    .groupCreate h1, .groupCreate p, .groupButton {
        margin-left: 115px;
    }
}

@media screen and (max-width:1148px) {
    .right {
        width: 51%;
    }
}

@media screen and (max-width:1031px) {
    .right {
        width: 56%;
    }

    .custom h3::after {
        margin-left: 20px;
    }
}

@media screen and (max-width: 980px) {

    header nav {
        flex-direction: column;
        margin-bottom: 110px;
    }

    header nav section {
        margin: auto;
        justify-content: center;
    }

    .groupCreate {
        margin: auto;
        width: 80%;
    }

    .groupCreate h1, .groupCreate p {
        margin-left: 0;
        text-align: center;
    }

    .groupButton {
        margin: 34px auto;
    }

    .headerImg {
        display: none; /*J'ai choisis de suppr l'image car elle n'a aucun réel intérêt, elle n'importe pas d'information mais rajoute du scroll inutile */
    }

    .custom img {
        width: 100%;
    }

    .bet h2 {
        line-height: normal;
        padding: 0 7%;
    }

    .ord {
        flex-wrap: wrap;
    }

    .ordering, .ordering:nth-of-type(1) {
        width: 100%;
        flex-direction: row;
        align-items: baseline;
    }

    .bet4 {
        width: 50%;
        flex-direction: column;
        padding: 0 5%;
    }

    .bet4 img {
        margin: 0 auto;
    }

    .bet4 h3, .bet4 p {
        text-align: center;
    }

    .deg {
        display: none; /* Ce texte était inutile depuis le début, et encore plus maintenant*/
    }

    .customOrder {
        flex-wrap: wrap;
    }

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #middle {
        margin-left: auto;
    }

    #middle ol li {
        padding: 14px;
        margin-right: 20px;
    }

    .right {
        margin-right: auto;
    }

    .custom img {
        top: 46px;
    }

    .customButton {
        margin-top: 50px;
    }

    .review {
        flex-direction: column;
        height: auto;
    }

    .review > div {
        width: 100%;
    }

    .reviewText {
        padding-top: 6.8%;
    }

    .review > div:nth-of-type(2) {
        height: 720px;
    }
}

@media screen and (max-width:903px) {
    .right {
        width: 55%;
    }
}

@media screen and (max-width:816px) {
    .right {
        width: 73%;
    }

    .footerOrder {
        flex-wrap: wrap;
    }

}

@media screen and (max-width:703px) {
    .navConnect {
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width:639px) {
    .right {
        width: 80%;
    }

    .ordering, .ordering:nth-of-type(1) {
        flex-wrap: wrap;

    }

    .bet4 {
        width: 100%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:630px) {

    .right {
        width: 90%;
    }

    .custom {
        padding: 74px 25px;
    }

}

@media screen and (max-width:600px) {
    .groupCreate {
        width: 80%;
        padding-top: 50px;
    }
}

@media screen and (max-width:563px) {
    .customButton {
        margin-top: 50px;
        width: 75%;
    }

    #middle ol {
        display: none;
    }

    .right ol {
        list-style: decimal;
    }

    .socials {
        margin-top: 30px;
    }

    .reviewText {
        padding-top: 11.8%;
    }
}

@media screen and (max-width:522px) {

    .headerLogo {
        margin: 4.4% 0 0 0;
    }

    .headerLogo img {
        height: 30px;
    }

    header nav {
        align-items: center;
    }

    header nav ul {
        flex-wrap: wrap;
        width: 100%;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    header nav ul li a {
        margin-right: 0;
    }

    header nav ul li:nth-of-type(1) a {
        margin-left: 0;
    }

    .groupCreate {
        padding-top: 155px;
    }

    .bet-p-1 {
        width: 80%;
    }

    .reviewText p {
        font-size: 16px;
    }

    .reviewText p:not(#comment)::first-letter {
        font-size: 52px;
        line-height: 48px;
    }

    .review > div:nth-of-type(2) {
        height: 365px;
    }

    /* footer nav > div:nth-of-type(2) a {
        text-align: right;
    } */

    footer a {
        font-size: 12px;
    }
}

@media screen and (max-width:460px) {
    .custom h3 {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:400px) {
    .groupButton a, .joinButton a, .customButton a {
        font-size: 15px;
    }
}